.MobileApp {
  margin-top: 376px;
  width: 100%;
  display: flex;
  position: relative;
  z-index: 1;

  @media (max-width: 700px) {
    & {
      margin-top: 100px;
    }
  }

  .coffee {
    position: absolute;
    top: -300px;
    left: -100px;

    @media (max-width: 700px) {
      & {
        display: none;
      }
    }
  }

  .container {
    margin-left: 40px;
    width: 100%;
    max-width: 512px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    @media (max-width: 1300px) {
      & {
        max-width: 90%;
      }
    }

    @media (max-width: 600px) {
      & {
        max-width: 100%;
        margin-left: 0;
      }
    }

    h2 {
      text-align: left;

      @media (max-width: 700px) {
        & {
          font-size: 40px;
        }
      }
    }

    p {
      margin: 40px auto 0;
      font-weight: 400;
      font-size: 24px;
      line-height: 35px;
      text-align: left;
      color: var(--gray);

      @media (max-width: 600px) {
        & {
          font-size: 20px;
        }
      }
    }

    button {
      margin: 60px auto 0 0;
      width: 286px;
      height: 70px;
      background: var(--default-black);
      border: 0;
      border-radius: 126px;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      text-transform: uppercase;
      color: var(--default-white);
      transition: 0.2s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .mobile {
    margin-top: -200px;
    width: 780.96px;
    height: 760px;

    @media (max-width: 1300px) {
      & {
        display: none;
      }
    }
  }
}
